<mat-toolbar color="primary">
    <div id="toolbar-logo">
    <a id="a-header" [routerLink]="['../login']"
      ><mat-icon aria-hidden="false" aria-label="home icon"
        >house</mat-icon
      >
      hello world to interns again</a
    >
</div>
    <div id="toolbar-route-buttons">
    <div id="login-button" ><button mat-flat-button  [routerLink]="['/public/login']">Login</button></div>
    <div id="register-button"><button mat-flat-button [routerLink]="['/public/register']">Register</button></div>
</div>
  </mat-toolbar>
<router-outlet></router-outlet>
