<mat-toolbar color="primary">
  <a id="a-header" [routerLink]="['../login']">
    <mat-icon aria-hidden="false">house</mat-icon>
    intern.local
  </a>
</mat-toolbar>
<div class="container">
  <div
    [ngClass]="isHover"
    (mouseover)="changeElevation($event)"
    (mouseout)="changeElevation($event)"
    [class.mat-elevation-z3]="!ishover"
    [class.mat-elevation-z15]="ishover"
  >
    <div id="matcardparent">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="login()">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email"
              />
              <mat-error *ngIf="email.touched && email.hasError('required')"
                >Email is required</mat-error
              >
              <!-- <mat-error *ngIf="email.touched && email.hasError('email')"
                >Please enter a valid email</mat-error
              > -->
              <mat-error *ngIf="email.touched && email.hasError('pattern')"
                >Docquity email is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline"
              ><mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-error
                *ngIf="password.touched && password.hasError('required')"
                >Password is required</mat-error
              >
              <!-- <mat-error
                *ngIf="password.touched && password.hasError('pattern')"
                >Must contain at least one number and one uppercase and
                lowercase letter and special character, and at least 8 and less
                than 16 characters</mat-error
              > -->
              <mat-error
                *ngIf="password.touched && password.hasError('pattern')"
              >
                Password must match the following pattern
                <a href="#" id="pattern-error" (click)="patternErrorShow()"
                  ><u>Show me</u></a
                >
              </mat-error>
              <!-- <button mat-button></button> -->
            </mat-form-field>
            <mat-hint *ngIf="!form.valid"
              ><small>All the fields are mandatory</small></mat-hint
            >
            <div class="button">
              <button
                mat-raised-button
                type="submit"
                [disabled]="!form.valid"
                color="primary"
              >
                Login
              </button>
            </div>
            <div class="send-to-login mat-typography">
              <a class="mat-title" [routerLink]="['../register']"
                >Create new account</a
              >
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
